
<div  *ngIf="role=='Professeur'">
   <div class="row">
        <div class="col" style="overflow-x: none;overflow-y: auto;max-height: 32.5rem;height: auto;">
            <ul class="list-unstyled"  *ngFor="let niveux of niveuxSet">
              
                <li style="cursor: pointer;"  *ngFor="let groupe of getListPfeByniveu(niveux)">
                
                    <div class=" border-0" >
                        <div  (click)="group=groupe" (click)="startChatWithUser(group)" class="card-body" style="border-bottom: 1px solid;">
                            <h4 class="text-break card-title" style="border-color: var(--bs-blue);color: rgb(0, 0, 0);font-size: 17px;font-family: monospace;">{{groupe.titre}}</h4>
                            <div class="d-lg-flex justify-content-lg-center"><button [disabled]="channel==null"  (click)="conferme_pfe(groupe.pfeInfoId,channel)"   class="btn text-center d-lg-flex justify-content-center align-items-lg-center" type="button" style="width: 99.5521px;background-color:#ffb6c1;color:white"><i class="fa fa-check-square-o d-lg-flex justify-content-start justify-content-lg-start align-items-lg-center" style="margin-left: 0px;"></i>Confirmer</button></div>
                        </div>
                    </div>
                </li>
               
                
            </ul>
        </div>
    </div>
</div>
<div  *ngIf="role=='groupe'">
    <div class="row" style="overflow-x: none;overflow-y: auto;max-height: 32.5rem;height: auto;">
        <div class="col-lg-12"  *ngFor="let user of users " style="margin-top: 50px;"  >
            <h4 class="text-center" style="color: black;">Titre du projet: {{user.titre}}</h4>
            <p style="color:rgb(0, 0, 0);margin-left: 20px;"><strong>Encadrant : {{user.nom_prof}} {{user.prenom_prof}}</strong></p>
            <p style="color:rgb(0, 0, 0);margin-left: 20px;"><strong>Niveau : </strong>{{user.niveau}}</p>
            <div class="text-break" style="width: auto; height:auto;">
                <strong style="color: rgba(0, 0, 0, 0.678);margin-left: 40px;">Description : </strong>
                <p style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 10px;" class="text-break">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.description}}</p> 
                <div  class="d-flex justify-content-end">
                     <a style="color:rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);" role="button" data-toggle="modal" (click)="desableinput(user)" data-target="#exampleModal">modifier</a>
                </div>
    
            </div>
            <div *ngIf="desable"> 
                <form>
                    <textarea  name="descriptionupdate"   class="form-control"  rows="4" [(ngModel)]="newDesc"></textarea>
           <div class="row"> 
            <div class="col  d-flex justify-content-center">
                <button style="font-size:15px;" class="btn btn-primary" (click)="saveModifier(user)">Modifier</button>
            </div>
             <div class="col   d-flex justify-content-center "style="width: auto;font-size:15px;">
                <button class="btn btn-secondary" (click)="annulModifier()" >Cancel</button>
            </div>
           </div>
                </form>
            </div>
            <p  class="text-break" style="color: rgb(255, 255, 255);"><strong>Email de Prof : {{user.username}}</strong></p>
         <div class="text-center">   <button class="btn btn-primary " (click)="group=user" (click)="startChatWithUser(user)">Contact</button></div>
       
        </div>
    </div>
   
 </div> 

  
