<div class="container">
        <div></div>
    </div>
      <div class="container-fluid" style="margin-top: 14px;">
        <div class="row align-self-start">
            <div class="col d-none d-md-block" data-aos="fade-right" style="border-top-right-radius: 18px;border-bottom-right-radius: 18px;background: repeating-linear-gradient(118deg, rgba(87,0,252,0.6) 21%, rgba(0,91,191,0.43) 66%, rgba(248,247,254,0.71) 100%);">
                <div></div>
            </div>
            <div class="col-md-6" data-aos="fade-left">
                <form #valid="ngForm" [formGroup]="InscriptionValidationProf">
                    <div class="justify-content-center align-items-center align-content-center">
                        <h2 style="text-align: center;color: var(--bs-gray-900);font-weight: bold;font-family: 'Advent Pro', sans-serif;">Vous inscrivez tant que professeur</h2>
                    </div>
                    <!-- ? nom -->
                    <div class="control-group">
                        <div class="mb-0 form-floating controls pb-2">
                          <input formControlName="nom" required [(ngModel)]="prof.nom"  class="form-control color-bm" type="text" id="email" placeholder="Nom" style="border-radius: 0px;box-shadow: 0px 0px;color: var(--bs-gray-900);height: 62px;opacity: 1;--bs-body-bg: #2f3438;--bs-body-font-weight: normal;background: var(--bs-white);font-family: Alef, sans-serif;border-width: 0px;border-bottom-width: 1px;border-bottom-color: var(--bs-cyan);">
                          <label class="form-label" style="width: 65.5625px;font-family: Actor, sans-serif;">
                            Nom
                          </label><small class="form-text text-danger help-block"></small></div>
                    </div>
                    <!-- ? nom validation -->
                    <div *ngIf="nom.touched && nom.invalid">
                        <div *ngIf="nom.errors['required']">
                          <small class="form-text text-danger help-block">
                            Ce champ est obligatoire
                          </small>
                        </div>
                          <div *ngIf="nom.errors['minlength']">
                            <small class="form-text text-danger help-block">
                              Le nom doit contenir au moins 3 caractères
                            </small>
                          </div>
                          <div *ngIf="nom.errors['pattern']">
                            <small class="form-text text-danger help-block">
                              Le nom ne doit pas contenir de chiffres
                            </small>
                          </div>
                    </div>
                    <!-- ? prenom -->
                    <div class="control-group">
                        <div class="mb-0 form-floating controls pb-2">
                          <input formControlName="prenom" [(ngModel)]="prof.prenom" name="prenom" class="form-control color-bm" type="text" id="email-2" placeholder="Prenom" style="border-radius: 0px;box-shadow: 0px 0px;color: var(--bs-gray-900);height: 62px;opacity: 1;--bs-body-bg: #2f3438;--bs-body-font-weight: normal;background: var(--bs-white);font-family: Alef, sans-serif;border-width: 0px;border-bottom-width: 1px;border-bottom-color: var(--bs-cyan);"><label class="form-label" style="width: 65.5625px;font-family: Actor, sans-serif;">
                            Prenom
                          </label><small class="form-text text-danger help-block"></small></div>
                    </div>
                    <!-- ? prenom validation -->
                    <div *ngIf="prenom.touched && prenom.invalid">
                        <div *ngIf="prenom.errors['required']">
                          <small class="form-text text-danger help-block">
                            Ce champ est obligatoire
                          </small>
                        </div>

                          <div *ngIf="prenom.errors['minlength']">
                            <small class="form-text text-danger help-block">
                              Le prenom doit contenir au moins 3 caractères
                            </small>
                          </div>

                          <div *ngIf="prenom.errors['pattern']">
                            <small class="form-text text-danger help-block">
                              Le prenom ne doit pas contenir de chiffres
                            </small>
                          </div>
                    </div>
                    <!--? email -->
                    <div class="control-group">
                        <div class="mb-0 form-floating controls pb-2">
                          <input formControlName="email" required [(ngModel)]="prof.email" name="email" class="form-control color-bm" type="email" id="email-1" placeholder="Email" style="border-radius: 0px;box-shadow: 0px 0px;color: var(--bs-gray-900);height: 62px;opacity: 1;--bs-body-bg: #2f3438;--bs-body-font-weight: normal;background: var(--bs-white);font-family: Alef, sans-serif;border-width: 0px;border-bottom-width: 1px;border-bottom-color: var(--bs-cyan);"><label class="form-label" style="width: 65.5625px;font-family: Actor, sans-serif;">
                            Email
                          </label><small class="form-text text-danger help-block"></small></div>
                    </div>
                    <!-- ? email validation -->
                    <div *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors['required']">
                          <small class="form-text text-danger help-block">
                            Ce champ est obligatoire
                          </small>
                        </div>
                        <div *ngIf="email.errors['email']">
                          <small class="form-text text-danger help-block">
                            L'email n'est pas valide
                          </small>
                        </div>
                        <div *ngIf="email.errors['pattern']">
                          <small class="form-text text-danger help-block">
                            ne ressemble pas à un email
                          </small>
                        </div>
                    </div>
                    <!-- ? password -->
                    <div class="control-group">
                        <div  class="mb-0 form-floating controls pb-2">
                          <input formControlName="password" [(ngModel)]="prof.password" name="password" required class="form-control color-bm" type="password" id="mot-de-passe" placeholder="Mot de passe" style="border-radius: 0px;box-shadow: 0px 0px;color: var(--bs-gray-900);height: 62px;opacity: 1;--bs-body-bg: #2f3438;--bs-body-font-weight: normal;background: var(--bs-white);font-family: Alef, sans-serif;border-width: 0px;border-bottom-width: 1px;border-bottom-color: var(--bs-cyan);" minlength="8"><label class="form-label" style="width: 123.5625px;font-family: Actor, sans-serif;">Mot de passe</label><small class="form-text text-danger help-block"></small></div>
                    </div>
                    <!-- ? password validation -->
                    <div *ngIf="password.touched && password.invalid">
                        <div *ngIf="password.errors['required']">
                          <small class="form-text text-danger help-block">
                            Ce champ est obligatoire
                          </small>
                        </div>
                        <div *ngIf="password.errors['minlength']">
                          <small class="form-text text-danger help-block">
                            Le mot de passe doit contenir au moins 8 caractères
                          </small>
                        </div>
                    </div>
                    <!-- ? departement-->
                    <div class="control-group">
                        <div class="mb-0 form-floating controls pb-2">
                          <!-- TODO: [ngModel] -->
                          <select formControlName="departement" [(ngModel)]="prof.departementId" class="form-select color-bm" placeholder="Name" style="border-radius: 0px;box-shadow: 0px 0px;color: var(--bs-gray-900);height: 62px;opacity: 1;--bs-body-bg: #2f3438;--bs-body-font-weight: normal;background: var(--bs-white);font-family: Alef, sans-serif;border-width: 0px;border-bottom-width: 1px;border-bottom-color: var(--bs-cyan);">
                                <option value="1">Informatique</option>
                                <option value="2">Mathématiques</option>
                                <option value="3">Chimie</option>
                                <option value="4">Mecanique</option>
                            </select><label class="form-label" style="width: 81.5625px;font-family: Actor, sans-serif;">Département</label><small class="form-text text-danger help-block"></small></div>
                    </div>
                    <!-- ? enseignant -->
                    <div class="control-group">
                        <div class="mb-0 form-floating controls pb-2"><select formControlName="chef" [(ngModel)]="prof.chef" class="form-select color-bm" placeholder="Name" style="border-radius: 0px;box-shadow: 0px 0px;color: var(--bs-gray-900);height: 62px;opacity: 1;--bs-body-bg: #2f3438;--bs-body-font-weight: normal;background: var(--bs-white);font-family: Alef, sans-serif;border-width: 0px;border-bottom-width: 1px;border-bottom-color: var(--bs-cyan);">
                                <optgroup label="Rôle" > 
                                    <option value="false">Enseignant</option>
                                    <option value="true">Enseignant - Chef departement</option>
                                </optgroup>
                            </select><label class="form-label" style="width: 81.5625px;font-family: Actor, sans-serif;">Rôle</label><small class="form-text text-danger help-block"></small></div>
                    </div>

                    <div class="control-group"></div>
                    <div class="d-flex d-md-flex justify-content-end justify-content-md-end w-100" style="margin-top: 7px;"><button [disabled]="valid.invalid" (click)="Inscription()" class="btn btn-primary btn-lg d-block w-50" type="submit" style="background: var(--bs-indigo);border-width: 0px;text-align: center;">inscription</button></div>
                </form>
            </div>
        </div>
    </div>

