<!-- <div style="width: 100%; min-height: 480px;" class="message-col">
    <div id="msg-container" class="message-container overflow-auto" style="height: 500px;">
      <div *ngFor="let message of filteredMessages" class="message-item"
        [style.background]="message.sender === username ? 'rgba(80,150,220, 0.4)':'rgba(150,150,150, 0.3)'">
        <div mat-list-icon>chat</div>
        <h4 mat-line><b>{{message.sender === username ? 'You': message.sender}}</b>: {{message.content}}</h4>
        <div *ngIf="message.fichier!==null">
          <div >{{message.type}}</div><button  (click)="Doawload(message.fichier,message.type,message.type=='Rapport'?'PDF':'PNG')"> Download</button>
        </div>
      </div>
    </div>
  </div>
  
  <div style="width:100%; height: 40px;">
    <div style="width: 85%;">
      <form  enctype="multipart/form-data">
        <input matInput name="fichier" placeholder="New message" [disabled]="channel === null || channel === undefined"
        class="message-input" [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 ? sendMessage() : null">
        <input type="file" name="file"   (change)="chargerapport($event)"><br>
        <select  [(ngModel)]="newTyp" name="type">
          <option>Rapport</option>
          <option>Page de garde</option>
        </select>
      </form>
      
    </div>
    <button mat-raised-button [disabled]="channel === null || channel === undefined" style="width: 13%;"
      (click)="sendMessage()">Send</button>
  </div>
 -->

































    <div class="row px-3 py-2 border-start border-muted"  >
      <div class="col" style="overflow-x: none;overflow-y: auto;min-height: 430px;max-height: 470px;height: auto;">
          <ul class="list-unstyled" *ngIf="channel != null || channel != undefined">
                <div *ngFor="let message of filteredMessages">
                <li class="my-2" [ngClass]="message.sender === username? 'd-flex justify-content-end my-2':'my-2'">
                  <div class="card border border-muted" [style]="message.sender === username? 'width: 65%;border-top-right-radius: 0px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;background-color:rgb(120, 187, 241);color: rgb(255,255,255);':'width: 65%;border-top-left-radius: 0px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;background:rgb(227, 227, 227);'">
                      <div class="card-body text-center p-2">
                          <p class="text-start card-text" style="font-size: 1rem;">{{message.content}}</p>
                          <div id="fichier" *ngIf="message.fichier!==null||message.type!==null" style="margin-bottom: 7px;"><i class="fa fa-file-text-o d-lg-flex justify-content-lg-start" style="height: 43px;color: var(--bs-red);font-size: 30px;width: 30.583px;padding-top: 7px;"></i>
                              <h5 style="margin-top: 11px;margin-bottom: 14px;margin-right: 0px;margin-left: 16px;">{{message.type}}</h5><a role="button"  (click)="Doawload(message.fichier,message.type,message.type=='Rapport'?'PDF':'PNG')"><i class="fa fa-download d-lg-flex justify-content-lg-end align-items-lg-center" style="height: 43px;color: rgba(0,0,0,0.93);font-size: 30px;width: 30.583px;margin-right: 0px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;"></i></a>
                          </div>
                          <h6 class="card-subtitle text-end"  [style]="message.sender == username?'font-size: .75rem;color: rgb(255,255,255);':'font-size: .75rem;'" >{{message.timestamp}}</h6>
                      </div>
                  </div>
              </li>

              </div>
        
             
          </ul>
      </div>
  </div>
  <div class="row px-3 py-2"  *ngIf="channel != null || channel != undefined" style="background: rgb(194, 197, 194);">
      <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="padding: 0;"><textarea [(ngModel)]="newMessage" name="message" class="w-100 h-100 border-0" style="border-radius: 27px;resize: none;padding-right: 0;padding-left: 30px;"></textarea></div>
      <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-nowrap d-md-flex justify-content-md-end p-0"><button name="buttonfichier"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn h-100 mx-auto" type="button" style="border-radius: 10px;"><i class="fas fa-file-upload" style="font-size: 31px;color: beige;"></i></button><button name="buttonenvoyer"  (click)="sendMessage()"  class="btn btn-light h-100 w-auto" type="button" style="border-radius: 10px;"><i class="fab fa-telegram-plane"></i></button></div>
  </div>
     

  <!-- ---------------------Modal de fichier -->
  <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Envoyer fichers</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background: #f1f5f8;">
        <form enctype="multipart/form-data">
          <div class="control-group" style="margin-top: 5px;">
            <div class="mb-0 form-floating controls pb-2"><select  [(ngModel)]="newTyp" name="type" class="form-select" style="box-shadow: 0px 0px;border-bottom-width: 2px;border-bottom-color: var(--bs-teal);border-radius: 13px;">
                    <option >Rapport</option>
                    <option >Page garde</option>
                
                </select><label class="form-label" style="width: 130.5625px;font-family: Actor, sans-serif;">
                    Type de fichier
                </label><small class="form-text text-danger help-block"></small></div>
        </div>
        <label class="form-label" style="margin-bottom: 4px;">
         fichier
      </label>
      <!-- ? rapport -->
      <input    (change)="chargerapport($event)"   name="rapport" class="form-control form-control-lg" type="file" style="box-shadow: 0px 0px;border-width: 0px;border-bottom-width: 2px;border-bottom-color: var(--bs-teal);">

        </form>
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Save </button>
        </div>
      </div>
    </div>
  </div>