@import './assets/bootstrap/css/bootstrap.min.css';
@import './assets/css/Login-Form-Basic.css';
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css';

@import 'assets/assets/fonts/fontawesome-all.min.css';
@import 'assets/assets/fonts/font-awesome.min.css';
@import 'assets/assets/fonts/fontawesome5-overrides.min.css';
@import 'assets/assets/css/styles.min.css';
@import 'assets/assets/bootstrap/css/bootstrap.min.css';
